<!-- <div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">See you soon!</h1>
    <h5 style="padding-top: 15px;">Remember, Sometimes later becomes never. Do it now.</h5>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg mr-3" routerLink="/login" role="button">Login Again</a>
      <a class="btn btn-success btn-lg mr-3" routerLink="/signup" role="button">Create an Account</a>
    </p>
  </div>
</div> -->

<div class="container-fluid">
  <div class="login-box">
    <h1>See you soon!</h1>
    <h5 style="padding-top: 15px;">Remember, Sometimes later becomes never. Do it now.</h5>

    <form>        
        <input type="submit"  routerLink="/login" value="Login"/>
        <input type="submit" routerLink="/signup" value="SignUp"/>
    </form>
  </div>
  
</div>
